.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  grid-template-areas:
    'name email'
    'subject subject'
    'message message'
    'button button'
    'notification notification';

  width: 50%;

  &__field {
    position: relative;

    &_name {
      grid-area: name;
    }

    &_email {
      grid-area: email;
    }

    &_subject {
      grid-area: subject;
    }

    &_message {
      grid-area: message;

      height: 20rem;
    }
  }

  &__notification {
    grid-area: notification;
  }

  &__input {
    height: 100%;

    resize: none;
  }

  &__button {
    grid-area: button;

    margin-top: 1rem;
    padding: 1.5rem;

    border: 0.1rem solid $body-color;
    border-radius: $border-radius;

    background-image: linear-gradient(to right, $accent-color, #e7f4f9);

    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: $text-color;

    @include transition;
    cursor: pointer;

    &:hover {
      border-color: $text-color;
    }
  }
}
