.get-in-touch {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;

    @include media-l {
      flex-direction: column;

      row-gap: 3rem;
    }
  }

  &__title {
    width: 90%;
    font-size: 4.2rem;

    @include media-xxl {
      font-size: 3.5rem;
    }

    @include media-l {
      width: 100%;
      text-align: center;
    }

    @include media-s {
      font-size: 3rem;
    }
  }

  &__highlight {
    font-size: 4.5rem;
    font-weight: 500;

    @include media-xxl {
      font-size: 3.7rem;
    }

    @include media-s {
      font-size: 3.2rem;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2.5rem;

    margin-top: 2.5rem;

    @include media-l {
      justify-content: center;
    }
  }

  &__link {
    width: 3.5rem;

    @include transition;

    &:hover {
      transform: scale(1.2);
    }
  }
}
