.start-screen {
  z-index: 100;
  @include section-card($start-screen-section-color);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;

    padding: 3rem 0;

    transform: translateY(-4rem);
    opacity: 0.1;
    @include transition;
    transition-duration: 2.5s;

    &_visible {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  &__img-wrapper {
    width: 30rem;
    height: 30rem;

    border: 0;
    border-radius: 50%;

    overflow: hidden;

    @include media-m {
      width: 25rem;
      height: 25rem;
    }

    @include media-s {
      width: 20rem;
      height: 20rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__link {
    width: 3.5rem;

    @include transition;

    &:hover {
      transform: scale(1.2);
    }

    @include media-m {
      width: 3rem;
    }

    @include media-s {
      width: 2.8rem;
    }
  }

  &__greatings {
    width: 65%;

    font-size: 3rem;
    font-weight: 300;
    text-align: center;

    @include media-l {
      width: 100%;
    }

    @include media-m {
      font-size: 2.5rem;
    }

    @include media-s {
      font-size: 2rem;
    }
  }

  &__tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    width: 50%;

    @include media-l {
      width: 70%;
    }

    @include media-m {
      width: 80%;
    }

    @include media-s {
      width: 100%;
    }
  }

  &__tech-stack &__link {
    width: 6.5rem;

    @include media-m {
      width: 5rem;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 300;

    @include media-m {
      font-size: 2.5rem;
    }

    @include media-s {
      font-size: 2.2rem;
    }
  }
}
