$text-color: #383733;
$accent-color: #f2c301;
$body-color: #ffffff;

$start-screen-section-color: #e7f4f9;
$about-me-section-color: #cbe5c0;
$projects-section-color: #fefbc8;
$get-in-touch-section-color: #d6c7de;

$screen-width-s: 575px;
$screen-width-m: 767px;
$screen-width-l: 991px;
$screen-width-xl: 1199px;
