@import './base/reset';
@import './abstracts/variabels';
@import './abstracts/mixins';

html {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;

  font-size: 1.8rem;
  color: $text-color;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: $border-radius;

  cursor: default;
}

@import './layout/container';
@import './layout/section-card';

@import './components/header';
@import './components/nav';
@import './components/highlight';
@import './components/start-screen';
@import './components/about-me';
@import './components/card';
@import './components/projects';
@import './components/scroll-observer';
@import './components/contact-form';
@import './components/field';
@import './components/get-in-touch';
@import './components/notification';
